rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    function isAdmin() {

      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email == "thaibaoh2002@gmail.com";

    }


    match /teams/{teamId} {

      allow create: if request.auth != null
                    && request.auth.uid == teamId;


      allow read: if request.auth != null
                  && (
                    request.auth.uid == teamId
                    || isAdmin()
                  );


      allow update: if request.auth != null
                    && (
                      request.auth.uid == teamId
                      || isAdmin()
                    );


      allow delete: if isAdmin();

    }

  }

}